[Unit]
Description=b1air Quickshell UI Shell
Documentation=https://github.com/bla1r1/DotsFiles
PartOf=b1air-session.target
After=b1air-daemon.service

[Service]
Type=simple
ExecStart=/usr/bin/quickshell
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=b1air-session.target
