[Desktop Entry]
Type=Application
Name=b1air Files
Comment=Native b1air file manager
Exec=b1air-files %U
Icon=system-file-manager
Terminal=false
MimeType=inode/directory;
Categories=System;FileManager;Utility;
Keywords=files;folders;explorer;
StartupWMClass=b1air-files

