[SddmGreeterTheme]
Name=b1air
Type=sddm-theme
Version=2.0.0
Theme-Id=b1air
Theme-API=2.0
MainScript=Main.qml
TranslationsDirectory=translations
QtVersion=6

ConfigFile=default.conf